# file options

--exclude Tests/LinuxMain.swift,Package.swift

# format options
--swiftversion 4.0
--allman false
--commas inline
--ifdef no-indent
--importgrouping testable-bottom
--maxwidth 120
--wrapparameters before-first

# disabled format
--disable wrapEnumCases 
--disable numberFormatting
